// section style
.section {
  @apply py-16;
}

.copyright {
  @apply py-12 text-white text-center text-[15px] font-extralight;
  a {
    @apply hover:text-yellow-200 underline duration-300 transition-colors;
  }
}

// Container
.container,
.container-fluid {
  @apply mx-auto w-full pl-[var(--bs-gutter-x,calc(1.5rem_/_2))] pr-[var(--bs-gutter-x,calc(1.5rem_/_2))];
}

// container
.container {
  --bs-gutter-x: 1rem;
}

.container-fluid {
  @apply max-w-[1920px];

  --bs-gutter-x: 1.5rem;

  @media screen and (min-width: 1024px) {
    --bs-gutter-x: 2.5rem;
  }
}

// form style
.form-inputs * {
  @apply mb-5 leading-10;
}

// social icon style
.social-icons {
  @apply space-x-4;
  li {
    @apply inline-block;
    a {
      @apply block h-9 w-9 rounded-full border bg-primary text-center text-white;
      svg {
        @apply m-auto h-9;
      }
    }
  }
}

// notice
// .notice {
//   .notice-body {
//     p {
//       @apply my-0 text-text;
//     }
//   }

//   &.note {
//     .notice-head {
//       @apply bg-[#7fb6d9];
//     }
//     .notice-body {
//       @apply bg-[#7fb6d9]/25;
//     }
//   }

//   &.tip {
//     .notice-head {
//       @apply bg-[#73e273];
//     }
//     .notice-body {
//       @apply bg-[#73e273]/25;
//     }
//   }

//   &.info {
//     .notice-head {
//       @apply bg-[#ffc392];
//     }
//     .notice-body {
//       @apply bg-[#f0b37e]/25 dark:bg-[#ffc392]/25;
//     }
//   }

//   &.warning {
//     .notice-head {
//       @apply bg-[#ff918c] dark:bg-[#e06f6c];
//     }
//     .notice-body {
//       @apply bg-[#ff918c]/25 dark:bg-[#e06f6c]/25;
//     }
//   }
// }

// tabcomponent
.tab-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 1px solid #aaa;
}

.tab-nav-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  opacity: 0.8;
}

.tab-nav-item.active {
  border-bottom: 3px solid #aaa;
  opacity: 1;
}

.tab-content .tab-content-panel {
  display: none;
  padding: 1rem 0.5rem;
}

.tab-content .tab-content-panel.active {
  display: block;
}

// accordion
.accordion {
  background-color: #fff;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.accordion-icon {
  width: 0.78em;
  height: 0.78em;
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
}

.accordion.active .accordion-icon {
  transform: rotate(180deg);
}

.accordion.active .accordion-content {
  max-height: 100vh;
}

// form style
.form-input,
.form-textarea {
  @apply border-border focus:border-primary focus:ring-transparent;
}

// content style
.content {
  @apply prose max-w-none;
  @apply prose-headings:mb-[.9em] prose-headings:mt-[.5em] prose-headings:font-bold prose-headings:text-dark-100;
  @apply prose-h1:text-h1-md md:prose-h1:text-h1;
  @apply prose-h2:text-h2-md md:prose-h2:text-h2;
  @apply prose-h3:text-h3-md md:prose-h3:text-h3;
  @apply prose-hr:border-border;
  @apply prose-p:text-base prose-p:text-text;
  @apply prose-blockquote:border-primary prose-blockquote:bg-theme-light prose-blockquote:px-4 prose-blockquote:py-1;
  @apply prose-code:px-1 prose-code:text-primary;
  @apply prose-pre:rounded-none;
  @apply prose-strong:text-dark-100;
  @apply prose-a:text-primary prose-a:no-underline hover:prose-a:underline;
  @apply prose-li:text-text;
  @apply prose-table:overflow-hidden prose-table:border prose-table:border-border;
  @apply prose-thead:border-border prose-thead:bg-theme-light prose-th:px-4 prose-th:py-4 prose-th:text-dark-100;
  @apply prose-tr:border-border;
  @apply prose-td:px-3 prose-td:py-4;
}
