<footer class="py-16 bg-[#0A080A]">
    <div class="container">
        <div class="row items-center text-center">
            <div class="md:col-4 md:order-1">
                <img class="mx-auto" src="images/thank-you.png" alt="">
            </div>
            <div class="md:col-4 md:order-0 my-10 md:my-0">
                <p class="">0170 60 33333
                    <br>
                    0171 43 32324
                    <br>
                    <br class="hidden md:block">
                    hello@barishal.design</p>
            </div>
            <div class="md:col-4 md:order-2">
                <p class=" text-light md:text-end">Hosted by <a href="#" class="text-white">Barishal Design Community</a>
                    Connect with our <a href="#" class="text-white">Facebook Group</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<!-- <script src="plugins/jquery/jquery.min.js"></script> -->
<!-- Swiper JS -->
<script src="plugins/swiper/swiper-bundle.js"></script>
<script src="plugins/marquee/marquee.js"></script>
<script src="plugins/shuffle/shuffle.js"></script>
<!-- Main Script -->
<script src="scripts/main.js"></script>