<footer class="py-16 bg-[#0A080A]">
    <div class="container">
        <div class="row items-center text-center">
            <div class="md:col-3 md:order-1">
                <img class="mx-auto" src="images/thank-you.png" alt="">
            </div>
            <div class="md:col-4 md:order-0 my-10 md:my-0">
                <p class="md:text-start">
                    0170 60 33333 <br/>
                    017 4764 1117 <br/>
                    013 1725 9035 <br />
                    <span class="block md:hidden">hello@barishal.design</span></p>
            </div>
            <div class="md:col-5 md:order-2">
                <p class="text-light md:text-end mb-4">Organizing by 
                    <a href="#" class="text-white"> 
                        <img class="inline-block mx-2" src="images/facebook.png" alt=""> 
                        Barishal Design Community
                    </a>
                </p>
                <p class="md:text-end flex items-center md:justify-end justify-center"><span class="text-light">Developed by</span> <a class="ml-2 inline-block" href="https://themefisher.com/"><img src="images/logo-themfisher.svg" alt=""></a></p>
            </div>
        </div>
    </div>
</footer>

<div class="marquee">
    <div class="marquee-wrapper">
        <div class="marquee-slide">
            <p class="scroll-item text-white">designers / portfolio Review</p>
        </div>
        <div class="marquee-slide">
            <p class="scroll-item text-white">designers / portfolio Review </p>
        </div>
    </div>
</div>

<!-- jQuery -->
<!-- <script src="plugins/jquery/jquery.min.js"></script> -->
<!-- Swiper JS -->
<script src="plugins/swiper/swiper-bundle.js"></script>
<script src="plugins/marquee/marquee.js"></script>
<script src="plugins/shuffle/shuffle.js"></script>
<!-- Main Script -->
<script src="scripts/main.js"></script>