<header class="header">
    <nav class="navbar container px-0">
        <!-- navbar toggler -->
        <input id="nav-toggle" type="checkbox" class="hidden" />
        <label id="show-button" for="nav-toggle" class="flex cursor-pointer items-center text-white  lg:order-1 lg:hidden">
            <svg class="h-6 fill-current" viewBox="0 0 20 20">
                <title>Menu Open</title>
                <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
            </svg>
        </label>
        <label id="hide-button" for="nav-toggle" class="hidden cursor-pointer items-center text-white  lg:order-1">
            <svg class="h-6 fill-current" viewBox="0 0 20 20">
                <title>Menu Close</title>
                <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2" transform="rotate(45 10 10)"></polygon>
            </svg>
        </label>

        <!-- /navbar toggler -->
        <div class="fixed lg:static top-0 left-0 max-w-[280px] lg:max-w-full w-full lg:w-auto h-screen lg:h-auto hidden lg:block bg-body lg:bg-transparent z-30 pt-8 lg:pt-0" id="nav-menu">
            <button class="absolute left-[18px] top-8 lg:hidden" id="menu-close">
                <svg class="fill-current w-6 h-6" viewBox="0 0 20 20">
                    <title>Menu Close</title>
                    <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2" transform="rotate(45 10 10)"></polygon>
                </svg>
            </button>
            <ul class="navbar-nav order-3 w-full pt-10 pb-6 lg:order-1 lg:flex lg:w-auto lg:py-0 xl:space-x-6 2xl:space-x-8">
                <li class="nav-item">
                    <a href="#intro" class="nav-link active">
                        01
                        <span>
                            Intro
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#speakers" class="nav-link">
                        02
                        <span>Speakers</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#guest" class="nav-link">
                        03
                        <span>Guests</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#schedule" class="nav-link">
                        04
                        <span>Schedules</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#sponsorship" class="nav-link">
                        02
                        <span>Sponsors</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#explore" class="nav-link">
                        05
                        <span>Explore Barishal</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        06
                        <span>Get in touch</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="order-1 ml-auto flex items-center md:order-2 lg:ml-0">
            <a class="btn register-cta text-white/30 disabled" href="#">
                <svg width="40" height="32" viewBox="0 0 40 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="40" height="32" rx="16" fill="#CE2471" fill-opacity="0.2" />
                    <g clip-path="url(#clip0_1_29)">
                        <path d="M28 16C28 14.9 28.9 14 30 14L30 10C30 8.9 29.1 8 28 8L12 8C10.9 8 10.01 8.9 10.01 10L10.01 14C11.11 14 12 14.9 12 16C12 17.1 11.11 18 10 18L10 22C10 23.1 10.9 24 12 24L28 24C29.1 24 30 23.1 30 22L30 18C28.9 18 28 17.1 28 16ZM23.58 20.8L20 18.5L16.42 20.8L17.5 16.68L14.21 13.99L18.45 13.74L20 9.8L21.54 13.75L25.78 14L22.49 16.69L23.58 20.8Z" fill="#CE2471" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1_29">
                            <rect width="24" height="24" fill="white" transform="translate(8 4)" />
                        </clipPath>
                    </defs>
                </svg>
                Get a Ticket
            </a>
        </div>
    </nav>
</header>