<header class="header">
  <div class="bg-black py-3 text-white font-light">
    <div class="container relative flex justify-between items-center">
      <span>Pellen tesque in ipsum id orci porta dapibus. Sed port titor lectus nibh Vivamus.</span>
      <button class="inline-block align-middle">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_3_148)">
            <path
              d="M17.0218 9.3335L14.0002 12.3552L10.9785 9.3335L9.3335 10.9785L12.3552 14.0002L9.3335 17.0218L10.9785 18.6668L14.0002 15.6452L17.0218 18.6668L18.6668 17.0218L15.6452 14.0002L18.6668 10.9785L17.0218 9.3335ZM14.0002 2.3335C7.5485 2.3335 2.3335 7.5485 2.3335 14.0002C2.3335 20.4518 7.5485 25.6668 14.0002 25.6668C20.4518 25.6668 25.6668 20.4518 25.6668 14.0002C25.6668 7.5485 20.4518 2.3335 14.0002 2.3335ZM14.0002 23.3335C8.85516 23.3335 4.66683 19.1452 4.66683 14.0002C4.66683 8.85516 8.85516 4.66683 14.0002 4.66683C19.1452 4.66683 23.3335 8.85516 23.3335 14.0002C23.3335 19.1452 19.1452 23.3335 14.0002 23.3335Z"
              fill="currentColor" />
          </g>
          <defs>
            <clipPath id="clip0_3_148">
              <rect width="28" height="28" fill="currentColor" />
            </clipPath>
          </defs>
        </svg>
      </button>
    </div>
  </div>
  <nav class="navbar container">
    <a href="/" class="navbar-brand bg-shape">
      <img src="/images/logo-dark.png" alt="docbox" />
    </a> <!-- End logo -->

    <select class="lg-switcher mt-0 ml-auto lg:hidden cursor-pointer">
      <option value="en">EN</option>
      <option value="fr">FR</option>
    </select> <!-- End Language Switcher -->
    <button class="navbar-toggler ml-4 relative group" aria-label="navbar toggler">
      <div
        class="relative flex overflow-hidden items-center justify-center rounded-full w-[30px] h-[30px] transform transition-all ring-0 duration-200">
        <div
          class="flex flex-col justify-between w-[18px] group-[.active]:w-[22px] h-[15px] group-[.active]:h-[22px] transform transition-all duration-300 origin-center overflow-hidden">
          <div class="bg-dark-600 h-[2px] w-7 transform transition-all duration-300 origin-left group-[.active]:translate-x-10"></div>
          <div class="bg-dark-600 h-[2px] w-7 rounded transform transition-all duration-300 group-[.active]:translate-x-10 delay-75"></div>
          <div class="bg-dark-600 h-[2px] w-7 transform transition-all duration-300 origin-left group-[.active]:translate-x-10 delay-150">
          </div>

          <div
            class="absolute items-center justify-between transform transition-all duration-500 top-2.5 -translate-x-10 group-[.active]:translate-x-0 flex w-0 group-[.active]:w-12">
            <div
              class="absolute bg-dark-600 h-[2px] w-5 transform transition-all duration-500 rotate-0 delay-300 group-[.active]:rotate-45">
            </div>
            <div
              class="absolute bg-dark-600 h-[2px] w-5 transform transition-all duration-500 -rotate-0 delay-300 group-[.active]:-rotate-45">
            </div>
          </div>
        </div>
      </div>
    </button>
    <!-- End Navbar Toggler -->

    <div class="navbar-wrapper">
      <ul class="navbar-nav">
        <li class="nav-item group">
          <a href="" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item nav-dropdown group">
          <span class="nav-link inline-flex items-center">
            Other Pages
            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </span>
          <ul class="nav-dropdown-list lg:group-hover:visible lg:group-hover:opacity-100">
            <li class="nav-dropdown-item">
              <a href="" class="nav-dropdown-link block"> Page 01 </a>
            </li>
            <li class="nav-dropdown-item">
              <a href="" class="nav-dropdown-link block"> Page 02 Other Pages</a>
            </li>
          </ul>
        </li>
        <li class="nav-item group">
          <a href="" class="nav-link">About Us</a>
        </li>
        <li class="nav-item group">
          <a href="" class="nav-link">Pricing</a>
        </li>
      </ul> <!-- End Navbar Nav -->

      <div class="order-2 mx-auto mb-[0.75rem] lg:ml-5 xl:ml-7 flex flex-col items-center lg:mx-0 lg:mb-0 lg:flex-row">
        <hr class="hidden h-10 border-0 border-l-[1px] border-black lg:block" />
        <select class="lg-switcher hidden lg:ml-3 xl:ml-5 lg:block cursor-pointer">
          <option value="en">EN</option>
          <option value="fr">FR</option>
        </select>
        <hr class="hidden h-10 border-0 border-l-[1px] lg:ml-3 xl:ml-5 border-black lg:block" />
        <div class="flex flex-wrap justify-center pt-[1rem] lg:ml-5 xl:ml-7 lg:pt-0 gap-5 xl:gap-7">
          <a href="changelog.html" class="btn btn-outline-primary">Log In</a>
          <a href="contact.html" class="btn btn-primary">Get Started Now</a>
        </div>
      </div>
    </div> <!-- End Navbar Wrapper -->
  </nav>
</header>